**/*.swo
**/*.swp
.clangd/
.vscode/
build/
build-*/
CMakeLists.txt.user*
compile_commands.json
*.srctrlbm
*.srctrldb
*.srctrlprj
.cache/
*.o
runGUI
runCLI
*.pcm
*Dict.cpp
*.rootmap
*.tar.gz
*_rdict.cxx
*.so
